(function () {
'use strict';
window.addEventListener('load', function () {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
let forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
Array.prototype.filter.call(forms, function (form) {
form.addEventListener('submit', function (event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();

document.getElementById("colorButton").addEventListener("click", function () {
let html = `
<form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
    <div class="form-row">
        <div class="col">
            <div class="form-row" id="reservation-dates-modal">
                <div class="col">
                    <input disabled required class="form-control" type="text" name="start" id="start"
                        placeholder="Arrival">
                </div>
                <div class="col">
                    <input disabled required class="form-control" type="text" name="end" id="end"
                        placeholder="Departure">
                </div>

            </div>
        </div>
    </div>
</form>
`;
attention.custom({
title: 'Choose your dates',
msg: html,
});
})